<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>List Smartphone</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">

    $( document ).ready(function() {
      successHandler();
    });

    function addNewCustomer() {
      //lay du lieu
      let firstName = $('#firstName').val();
      let lastName = $('#lastName').val();
      let newCustomer = {
        lastName: lastName,
        firstName: firstName,
      };
      // goi ajax
      $.ajax({
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        type: "POST",
        data: JSON.stringify(newCustomer),
        //tên API
        url: "/api/customers",
        success: successHandler
        //xử lý khi thành công
        //success: console.log('success')


      });
      //chặn sự kiện mặc định của thẻ
      event.preventDefault();
    }

    function getCustomer(customer) {
      return `<tr><td >${customer.firstName}</td><td >${customer.lastName}</td></tr>`;
    }

    function successHandler() {
      $.ajax({
        type: "GET",
        //tên API
        url: "/api/customers",
        //xử lý khi thành công
        success: function (data) {
          // hien thi danh sach o day
          let content = '    <tr>\n' +
                  '        <td>FirstName</td>\n' +
                  '        <td>LastName</td>\n' +
                  '    </tr>';
          for (let i = 0; i < data.length; i++) {
            content += getCustomer(data[i]);
          }
          document.getElementById('customerList').innerHTML = content;
        }
      });
    }

  </script>
</head>
<body>
<h1>demo ajax</h1>

<form id="add-customer">
  <table>
    <tr>
      <td>First Name:</td>
      <td><input type="text" id="firstName" placeholder="firstName"></td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input type="text" id="lastName" placeholder="lastName"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Add" onclick="addNewCustomer()"></td>
    </tr>
  </table>
</form>

<h1>Customer List</h1>
<table id="customerList">

  </th:block>
</table>

</body>
</html>